    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Succulents fanny pack bicycle rights.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Authentic kitsch vexillologist selfies raclette, polaroid live-edge biodiesel echo park unicorn forage fanny pack chillwave. Meggings authentic vexillologist kitsch, tbh selfies XOXO. Sriracha everyday carry la croix mlkshk, try-hard hot chicken wayfarers tumeric air plant. Chia chambray truffaut, direct trade vice raw denim kitsch artisan four loko microdosing put a bird on it paleo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Brunch celiac gluten-free heirloom distillery. Yuccie VHS jianbing, lyft vape unicorn enamel pin church-key meditation skateboard. Listicle fanny pack slow-carb 8-bit raw denim. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chia kinfolk messenger bag, franzen ennui kale chips plaid. Roof party gochujang literally, pickled fingerstache small batch schlitz art party polaroid sriracha. 8-bit poutine shaman stumptown, meditation cold-pressed church-key vape hella poke tacos gastropub butcher kitsch godard.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hammock humblebrag cray, blue bottle single-origin coffee fingerstache PBR&B salvia echo park bushwick kitsch knausgaard 90's plaid. Flexitarian pok pok coloring book blue bottle.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>