<header>
        <div class="container">
            <div class="intro-text">
               <div class="intro-lead-in">It's Nice To Meet You</div>
               <!-- <div class="intro-heading">Welcome To Our Studio!</div> -->
                <div id="phrase" class="intro-heading">Welcome</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>